body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

a {
    color: #333;
    text-decoration: none;
}

/* Стили для навигационной ссылки */
nav a {
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
}

/* Стили для основного контента */
.main {
    padding: 20px;
}

/* Стили для футера */
footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
}
